<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base :: head(title=Istruttore)}">Hompage</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>


	<div class="container">
		<div class="row flex-md-row flex-sm-column">
			<!--Card dell'instruttore-->
			<div class="col-md-4 mb-3">
				<div class="card" style="max-width: 18rem;">
					<img th:if="${instructor.pathImg != null}" th:src="@{'/images/instructor/' + ${instructor.pathImg}}" class="card-img-top" alt="...">
					<img th:unless="${instructor.pathImg != null}" src="/images/preset/instructor.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title" th:text="${instructor.name} + ' ' + ${instructor.surname}">Nome e Cognome
						</h5>
						<h6 class="card-text" th:text=" 'Specialità: ' + ${instructor.speciality}">Specialità</h6>
						<p class="card-text" th:text="${instructor.descrizione}">Descrizione</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:text="'Nato il: ' + ${instructor.dateOfBirth}">Data di nascita
						</li>
						<li class="list-group-item" th:text="'Email: ' + ${instructor.email}">Email</li>
						<div th:if="${! instructor.instagramUrl.isEmpty()}">
							<li class="list-group-item"><a th:href="@{${instructor.instagramUrl}}"
									class="card-link">profilo Instagram</a></li>
						</div>
						<!--solo per admin-->
						<div sec:authorize="hasAuthority('ADMIN')">
							<li class="list-group-item"><a type="button" class="btn btn-primary card-link"
									th:href="@{'/instructor/edit/' + ${instructor.id}}">Modifica istruttore</a></li>

							<li class="list-group-item">
								<!-- Button trigger modal -->
								<a type="button" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#exampleModal"> Elimina istruttore </a>
								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Elimina istruttore
												</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body"
												th:text="'Sicuro di voler eliminare l\'istruttore ' +${instructor.name}">
												...
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">No</button>
												<a type="button" class="btn btn-primary"
													th:href="@{'/instructor/delete/' + ${instructor.id}}">Si</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</div>
					</ul>
				</div>
			</div>
			<!--Lista dei corsi-->
			<div class="col-8">

				<div class="row justify-content-md-center" sec:authorize="hasAuthority('ADMIN')">
					<div class="col-12 col-md-auto mb-2 mb-md-0">
						<a type="button" class="btn btn-outline-primary"
							th:href="@{'/course/add/new/' + ${instructor.id}}">Add new course</a>
					</div>
				</div>

				<div class="row" th:if="${instructor.courses.isEmpty()}">
					Non ci sono corsi nel sistema
				</div>

				<!--Inizio delle card-->
				<div class="row text-center">
					<h2>Corsi</h2>

					<div class="col mb-4 d-flex justify-content-center" th:each="course : ${instructor.courses}">
						<div class="card" style="max-width: 18rem;">
							<a class="text-reset text-decoration-none" th:href="@{'/course/' + ${course.id}}">
								<img th:if="${course.pathImg != null}" th:src="@{'/images/course/' + ${course.pathImg}}" class="card-img-top" alt="...">
								<img th:unless="${course.pathImg != null}" src="/images/preset/course.jpg" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title" th:text="${course.title} ">Card title</h5>
									<p class="card-text" th:text=" 'Tipologia: ' + ${course.typology}">Typology</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<footer th:replace="~{fragments/base :: footer}">
		<footer>

</body>

</html>