<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base :: head(title=Istruttori)}">Istruttori</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>

	<!--Dropdown per il filtraggio della ricerca-->
	<div class="container text-center">
		<div class="row align-items-start">
			<div class="col">
				<div class="dropdown mb-4">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false"> Filtra per tipo </button>
					<div class="dropdown-menu">
						<div class="container-fluid">
							<form th:action="@{/instructor/search}" method="POST" class="mb-3">
								<div class="row">
									<div class="col-md-4">
										<select class="form-select" type="text" th:value="${type}" name="type">
											<option value="name">Nome</option>
											<option value="surname">Cognome</option>
											<option value="speciality">Specialità</option>
										</select>
									</div>
									<div class="col-md-4">
										<input class="form-control" placeholder="Es. Marco, Rossi, Surf" required type="text" th:value="${attribute}" name="attribute" />
									</div>
									<div class="col-md-4">
										<button type="submit" class="btn btn-primary">Cerca</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<a sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-outline-primary me-2" th:href="@{'/instructor/add/new'}"> Add new instructor</a>
			</div>
		</div>
	</div>

	<div th:if="${instructors.isEmpty()}">Non ci sono istruttori nel sistema</div>

	<!--Inizio delle card-->
	<div class="container text-center">
		<div class="row ">
			<div class="col mb-4 d-flex justify-content-center" th:each="instructor : ${instructors}">
				<div class="card" style="width: 18rem;">
					<a class="text-reset text-decoration-none" th:href="@{'/instructor' + '/' + ${instructor.id}}">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title" th:text="${instructor.name} + ' ' + ${instructor.surname}">Card title</h5>
							<p class="card-text" th:text=" 'Specialità: ' + ${instructor.speciality}">Specialità</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/base :: footer}"></footer>
</body>

</html>