<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head(title=Add+' '+lesson)}">Add lesson</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>
	
	<div class="d-flex container justify-content-center mt-4">
		<div class="col-6 card border border-primary p-3 shadow" >	
			<!--Form per aggiungere un nuovo Istruttore-->
			<form th:action="@{'/lesson/add/' + ${idCourse}}" method="POST" th:object="${lesson}" class="row g-3">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				
				<div class="col-md-6">
					<label for="title" class="form-label">Titolo</label>
					<input class="form-control" required type="text" th:field="${lesson.title}" id="title"/>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
				
				<div class="col-12">
					<label for="description" class="form-label"> Descizione</label>
					<textarea class="form-control" aria-label="With textarea" type="text" th:field="${lesson.description}" id="description"></textarea>
				</div>
				
				<div class="col-12">
					<label for="exercise" class="form-label"> Esercizi</label>
					<textarea class="form-control" aria-label="With textarea" type="text" th:field="${lesson.exercise}" id="exercise"></textarea>
				</div>
				
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</form>
		</div>
	</div>
	
	
	
	<footer th:replace="~{fragments/base :: footer}"><footer>
</body>
</html>