<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head(title=Login)}">Hompage</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>
 	<div class="d-flex container justify-content-center mt-4">
		<div class="col-6 card border border-primary p-3 shadow" > 
			
			<form th:action="@{/login}" method="POST">
				
				<!-- Username input -->
				<div class="form-outline mb-4">
					<label class="form-label" for="form2Example1">Username</label>
					<input type="text" name="username" id="form2Example1" class="form-control" />
				</div>
				
				<!-- Password input -->
				<div class="form-outline mb-4">
					<label class="form-label" for="form2Example2">Password</label>
					<input type="password" name="password" id="form2Example2" class="form-control" />
				</div>
				
				<!-- Submit button -->
				<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
				
			</form>
			
			<!-- Register buttons -->
			<div class="text-center">
				<p>Not a member? <a th:href="@{'/register'}"> Register</a> </p>
			</div> 
			
		</div>
 	</div>
	
	<footer th:replace="~{fragments/base :: footer}"><footer>
</body>
</html>