<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/base :: head(title=corso)}">Hompage</head>

<body>
	<nav th:replace="~{fragments/base :: navbar}"></nav>

	<div class="container text-center">
		<div class="row mb-2">
			<div class="row">
				<h2 class="row justify-content-center" th:text="${course.title}"></h2>
				<h4 class="row" th:text="${course.description}"></h4>
			</div>

			<div class="row" sec:authorize="hasAuthority('ADMIN')">
				<a type="button" class="btn btn-outline-primary me-2 col" th:href="@{'/course/edit/' + ${course.id}}"> Edit Course</a>
				<a type="button" class="btn btn-outline-primary me-2 col" th:href="@{'/course/delete/' + ${course.id}}"> Delete Couse</a>
				<a type="button" class="btn btn-outline-primary me-2 col"
					th:href="@{'/lesson/add/new/' + ${course.id}}"> Add lesson</a>
			</div>
		</div>

		<!--card delle lezioni-->
		<div class="row mb-4">
			<div class="row" th:if="${course.lessons.isEmpty()}">
				Non ci sono lezioni nel corso
			</div>

			<div class="card mx-auto">
				<ul class="list-group list-group-flush" th:each="lesson : ${course.lessons}">
					<li class="list-group-item">
						<!-- pulsante per il collapse down e mostrare la lezione-->
						<p class=" d-grid gap-2">
							<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" th:text="${lesson.title}">
							</button>
						</p>
						<!-- Contenuto di ogni collapse-->
						<div class="collapse card card-body" id="collapseExample">
							<div class="row">
								<span th:text="${lesson.description}"> </span>
								<span th:text="${lesson.exercise}"> </span>
							</div>
							<div class="row">
								<a sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-outline-primary me-2 col" th:href="@{'/lesson/edit/' + ${lesson.id}}"> Edit lesson</a>
								<a sec:authorize="hasAuthority('ADMIN')" type="button" class="btn btn-outline-primary me-2 col" th:href="@{'/lesson/delete/' + ${course.id} +'/' + ${lesson.id}}"> Delete lesson</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>
		<div class="row">
			<a type="button" class="btn btn-outline-primary me-2 col" th:href="@{'/instructor/' + ${course.instructor.id}}">
				<span th:text="'Corso credato da: ' + ${course.instructor.name}"> Nome instruttore </span>
			</a>
		</div>
	</div>


	<footer th:replace="~{fragments/base :: footer}">
		<footer>

</body>

</html>